Repository kreuzwerker/kreuzlaker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-xw-batch-packages, mypy, black, isort, flake8, pytest, deploy-gitlab-oidc-stack, diff-xw-batch-stack

install-xw-batch-packages:
  stage: install-packages
  script:
  - cd xw-batch
  - echo "Creating venv"
  - python3 -m venv .venv
  - source .venv/bin/activate
  - echo "Installing python packages"
  - python3 -m pip install -r requirements.txt
  - python3 -m pip install -r requirements-dev.txt
  - echo "Installing awscli for deployments"
  ...

mypy:
  stage: run-static-checks
  script:
  - - cd xw-batch
    - python3 --version
    - echo "Activating environments"
    - source .venv/bin/activate
    - export PATH=$PATH:./node_modules/.bin
    - node --version && npm root && command -v cdk && env
  - echo "Running mypy..."
  ...

black:
  stage: run-static-checks
  script:
  - - cd xw-batch
    - python3 --version
    - echo "Activating environments"
    - source .venv/bin/activate
    - export PATH=$PATH:./node_modules/.bin
    - node --version && npm root && command -v cdk && env
  - echo "Running black..."
  ...

isort:
  stage: run-static-checks
  script:
  - - cd xw-batch
    - python3 --version
    - echo "Activating environments"
    - source .venv/bin/activate
    - export PATH=$PATH:./node_modules/.bin
    - node --version && npm root && command -v cdk && env
  - echo "Running isort..."
  ...

flake8:
  stage: run-static-checks
  script:
  - - cd xw-batch
    - python3 --version
    - echo "Activating environments"
    - source .venv/bin/activate
    - export PATH=$PATH:./node_modules/.bin
    - node --version && npm root && command -v cdk && env
  - echo "Running flake8..."
  ...

pytest:
  stage: run-tests
  script:
  - - cd xw-batch
    - python3 --version
    - echo "Activating environments"
    - source .venv/bin/activate
    - export PATH=$PATH:./node_modules/.bin
    - node --version && npm root && command -v cdk && env
  - echo "Running pytest..."
  - python3 -m pytest tests
  ...

deploy-gitlab-oidc-stack:
  stage: deploy-oidc
  cache:
  - key:
      files:
      - gitlab-aws-oidc/package-lock.json
    paths:
    - gitlab-aws-oidc/node_modules/
    - .cache/npm
  script:
  - echo "Installing cdk"
  - cd gitlab-aws-oidc
  - npm ci --cache $CI_PROJECT_DIR/.cache/npm --prefer-offline
  - echo "Finished installing cdk"
  ...

diff-xw-batch-stack:
  stage: deploy-infra
  script:
  - - cd xw-batch
    - python3 --version
    - echo "Activating environments"
    - source .venv/bin/activate
    - export PATH=$PATH:./node_modules/.bin
    - node --version && npm root && command -v cdk && env
  - - echo "Getting AWS credentials for the deployment"
  ...

Do not run pipelines twice in MR
  .gitlab-ci.yml
Due: none

Also create jobs if gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

Fix missing changes rule on black job
  .gitlab-ci.yml
Due: none

CI: Make cdk available in PATH for OIDC deployment
  .gitlab-ci.yml
Due: none

CI: Prevent overwriting the cache between xw-batch and gitlab-oidc
  .gitlab-ci.yml
Due: none

Refactor athena policy creation into a helper function
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

OIDC stack: add explicit thumbprints
  gitlab-aws-oidc/bin/gitlab-aws-oidc.ts
  gitlab-aws-oidc/lib/gitlab-aws-oidc-stack.ts
Due: deploy-gitlab-oidc-stack

black: set line length to 120 and reformat all python code
  xw-batch/app.py
  xw-batch/glue/scripts/convert_to_parquet.py
  xw-batch/pyproject.toml
  xw-batch/tests/unit/__snapshots__/test_xw_batch_stack.ambr
  xw-batch/tests/unit/test_copy_s3_data.py
  xw-batch/tests/unit/test_users_and_groups_structure.py
  xw-batch/tests/unit/test_xw_batch_stack.py
  xw-batch/xw_batch/copy_s3_data.py
  xw-batch/xw_batch/users_and_groups.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Add a scheduled fargate task to run dbt-run once a day
  xw-batch/requirements-dev.txt
  xw-batch/tests/unit/__snapshots__/test_xw_batch_stack.ambr
  xw-batch/tests/unit/test_xw_batch_stack.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Rename test to make further changes clearer
  xw-batch/tests/unit/test_xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Create a docker file for dbt production
  dbt/.dockerignore
  dbt/.gitignore
  dbt/Dockerfile
  dbt/Makefile
  dbt/docker-entrypoint.sh
  dbt/poetry.lock
  dbt/profiles-prod.yml
  dbt/pyproject.toml
Due: none

CI: Deploy (inactive) dbt code to the ECR repo
  .gitlab-ci.yml
  gitlab-aws-oidc/bin/gitlab-aws-oidc.ts
  gitlab-aws-oidc/lib/gitlab-aws-oidc-stack.ts
Due: deploy-gitlab-oidc-stack

Add container repository for dbt-run
  xw-batch/tests/unit/__snapshots__/test_xw_batch_stack.ambr
  xw-batch/tests/unit/test_xw_batch_stack.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Refactor stack to delete all user generated data
  xw-batch/app.py
  xw-batch/tests/unit/__snapshots__/test_xw_batch_stack.ambr
  xw-batch/tests/unit/test_xw_batch_stack.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Update Name
  xw-batch/tests/unit/test_xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Update README.md
  xw-batch/README.md
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

added drawio file
  docs/xw-batch-architecture.drawio
Due: none

reduced png size
  docs/xw-batch-architecture.png
Due: none

Update README.md
  README.md
Due: none

Remove NAT gateway and use VPC endpoints instead
  dbt/README.md
  xw-batch/Makefile
  xw-batch/xw_batch/superset_docker.py
  xw-batch/xw_batch/vpc.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Remove unnecessary code
  xw-batch/xw_batch/superset_docker.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Formatting
  xw-batch/xw_batch/vpc.py
  xw-batch/xw_batch/xw_batch_stack.py
Due: install-xw-batch-packages, mypy, black, isort, flake8, pytest, diff-xw-batch-stack

Add kreuzlaker logo
  README.md
  docs/kreuzlaker_logo.png
Due: none

Path conditions:
  install-xw-batch-packages: any of: xw-batch/**/*
  mypy: any of: xw-batch/**/*
  black: any of: xw-batch/**/*
  isort: any of: xw-batch/**/*
  flake8: any of: xw-batch/**/*
  pytest: any of: xw-batch/**/*
  deploy-gitlab-oidc-stack: any of: gitlab-aws-oidc/**/*
  diff-xw-batch-stack: any of: xw-batch/**/*
